<section class="channel-list">
  <legend> List of Available Channels </channel> 
    <%= render partial: "channels/edit_channel",
      collection: @channels as: :channel %> 
  </legend> 
</section> 

