<article id="<%= dom_id service %>" class="service-card">
  <% if service.image.attached? %>
    <div class="service-image">
      <%= image_tag service.image %>
    </div>
  <% end %>

  <h3 class="service-title"><%= service.title %></h3>
  <p><%= service.description %></p>
  <button class="whatsapp-button">Get Our Service</button>
</article> 
