<%= turbo_frame_tag "edit-services-section" do %>
  <div class="service-form-container">
    <h3>Edit Service</h3>
    <%= render "form", service: @service, landing_page: @landing_page %>
  </div>
<% end %>
