<%= turbo_frame_tag "editor-replacable" do %> 
  <h1> services </h1> 
  <%= turbo_frame_tag "edit-services-section" do %>
        <div id="services-list">
          <%# this file is responsible for editing the services in the side editor .. for each service 
          we need to render the _edit_service.html.erb component  %> 
          <%= render partial: "services/edit_service",
              collection: @landing_page.services, as: :service %> 
        </div>
        <div class="service-edit-actions">
          <%= link_to "New",
                      new_landing_page_service_path(@landing_page),
                      class: "btn-new-service",
                      data: { turbo_frame: "edit-services-section" } %>
        </div>
    <% end %>

<% end %> 
