<%= turbo_frame_tag "editor-replacable" do %> 
  <h1> styles  </h1> 
    <section class="lp-editor__card">
      <h3 class="lp-editor__card-title">Landing Page Details</h3>
      <%= render "form", landing_page: @landing_page %>
    </section>


<% end %> 
