<div id="<%= dom_id review %>" class="review-card">
  <% if review.avatar.attached? %>
    <div class="review-avatar">
      <%= image_tag review.avatar, alt: review.name %>
    </div>
  <% end %> 

  <div class="review-details">
    <h4 class="review-author"><%= review.name %></h4> 
    <p class="review-content"><%= review.content %> </p>
  </div>

</div>


